[submodule "Lectures/ImageProcessingClass"]
	path = Lectures/ImageProcessingClass
	url = https://github.com/Ursinus-IDS301-S2020/ImageProcessingClass.git
[submodule "Lectures/Week1Class"]
	path = Lectures/Week1Class
	url = https://github.com/Ursinus-IDS301-S2020/Week1Class.git
[submodule "Lectures/Week2Class"]
	path = Lectures/Week2Class
	url = https://github.com/Ursinus-IDS301-S2020/Week2Class.git
[submodule "Lectures/Week4Class"]
	path = Lectures/Week4Class
	url = https://github.com/Ursinus-IDS301-S2020/Week4Class.git
[submodule "Lectures/Week5Class"]
	path = Lectures/Week5Class
	url = https://github.com/Ursinus-IDS301-S2020/Week5Class.git
[submodule "Lectures/Week6Class"]
	path = Lectures/Week6Class
	url = https://github.com/Ursinus-IDS301-S2020/Week6Class.git
[submodule "Lectures/Week8Class"]
	path = Lectures/Week8Class
	url = https://github.com/Ursinus-IDS301-S2020/Week8Class.git
[submodule "Lectures/Week9Class"]
	path = Lectures/Week9Class
	url = https://github.com/Ursinus-IDS301-S2020/Week9Class.git
[submodule "Lectures/Week10Class"]
	path = Lectures/Week10Class
	url = https://github.com/Ursinus-IDS301-S2020/Week10Class.git
[submodule "Lectures/Week11Class"]
	path = Lectures/Week11Class
	url = https://github.com/Ursinus-IDS301-S2020/Week11Class.git
[submodule "Lectures/Week12Class"]
	path = Lectures/Week12Class
	url = https://github.com/Ursinus-IDS301-S2020/Week12Class.git
[submodule "Lectures/Week13Class"]
	path = Lectures/Week13Class
	url = https://github.com/Ursinus-IDS301-S2020/Week13Class.git
[submodule "Assignments/HW1a"]
	path = Assignments/HW1a
	url = https://github.com/Ursinus-IDS301-S2020/HW1a.git
[submodule "Assignments/HW1_AudioProcessing/HW1_AudioProcessing"]
	path = Assignments/HW1_AudioProcessing/HW1_AudioProcessing
	url = https://github.com/Ursinus-IDS301-S2020/HW1_AudioProcessing.git
[submodule "Assignments/HW2_Steganography/HW2_Steganography"]
	path = Assignments/HW2_Steganography/HW2_Steganography
	url = https://github.com/Ursinus-IDS301-S2020/HW2_Steganography.git
[submodule "Assignments/HW4_NBodyProblem/HW4_NBodyProblem"]
	path = Assignments/HW4_NBodyProblem/HW4_NBodyProblem
	url = https://github.com/Ursinus-IDS301-S2020/HW4_NBodyProblem.git
[submodule "Assignments/HW4b_EpidemicSpreading/HW4b_EpidemicSpreading"]
	path = Assignments/HW4b_EpidemicSpreading/HW4b_EpidemicSpreading
	url = https://github.com/Ursinus-IDS301-S2020/HW4b_EpidemicSpreading.git
[submodule "Assignments/HW6_MovieReviews/HW6_MovieReviews"]
	path = Assignments/HW6_MovieReviews/HW6_MovieReviews
	url = https://github.com/Ursinus-IDS301-S2020/HW6_MovieReviews.git
[submodule "Assignments/HW1a/HW1a_LinspaceSinusoids"]
	path = Assignments/HW1a/HW1a_LinspaceSinusoids
	url = https://github.com/ursinus-ids301-s2023/HW1a_LinspaceSinusoids.git
[submodule "Assignments/HW3_NBodyProblem/HW3_NBodyProblem"]
	path = Assignments/HW3_NBodyProblem/HW3_NBodyProblem
	url = https://github.com/ursinus-ids301-s2023/HW3_NBodyProblem.git
